<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305490756141-luokrdot1f30k4o5hbqrod13odtfk5u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305490756141-luokrdot1f30k4o5hbqrod13odtfk5u3</string>
	<key>API_KEY</key>
	<string>AIzaSyB9BnWY3z05ZrX2nwRVfFx7NctpfH1OROk</string>
	<key>GCM_SENDER_ID</key>
	<string>305490756141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireauth2</string>
	<key>PROJECT_ID</key>
	<string>honeycomb-2a21d</string>
	<key>STORAGE_BUCKET</key>
	<string>honeycomb-2a21d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305490756141:ios:bf379d34bfb3e1bbc3eea4</string>
</dict>
</plist>